* {
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
#pagedjs-source {
    display: none;
}
#pagedjs-settings {
    #settings-form {
        background: #eee;
        padding: 24px;
        max-width: 400px;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: all .5s;
        visibility: hidden;
        z-index: 100;
        &.open {
            visibility: visible;
            transform: none;
        }
    }
    h1, h2 {
        margin-top: 2rem;
        margin-bottom: .75rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: medium;
    }
    h1 {
        border-bottom: 2px solid #ddd;
        padding-bottom: .75rem;
        margin-bottom: .75rem;
    }
    p {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    fieldset {
        margin: 0 0 1.5rem;
        padding: 5px;
    }
    ul {
        padding: 0;
    }
    li {
        margin-bottom: 4px;
    }
    input, select {
        padding: 8px;
        font-family: inherit;
    }
    textarea {
        width: 100%;
        min-height: 150px;
    }
    label {
        margin-bottom: 4px;
        text-transform: uppercase;
        font-weight: normal;
        font-size: smaller;
    }
    select {
        width: 100%;
    }
    [type="color"]{
        width: 36px;
        height: 36px;
        padding: 0;
        border: 0;
    }
    [type="number"] {
        max-width: 80px;
    }
    [type="submit"],
    [type="button"] {
        text-transform : uppercase;
        font-size: 12px;
    }
    .settings-field {
        // flex: 1;
        margin-bottom: 1.5rem;
        // flex-basis: 150px;
    }
    .color-field {
        .color-input {
            align-items: center;
            display: flex;
        }
        [type="text"] {
            max-width: 80px; 
        }
    }
    .radio-field {
        flex-basis: 100%;
    }
    .radio-input {
        align-items: center;
        display: inline-flex;
        flex-wrap: wrap;
        input,
        label {
            margin: 4px;
        }
    }
    .multi-field {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content-order-field {
        flex-basis: 100%;
    }
    .form-open {
        margin: 24px;
        position: fixed;
    }
    .settings {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all .5s;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.open {
            visibility: visible;
            max-height: 2000px;
        }
    }
    .section-settings {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .settings-section-title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
    }
    .description {
        font-size: smaller;
        margin-bottom: .5rem;
    }
    .section-toggle {
        border: none;
        background: transparent;
        transition: transform .5s;
        &[aria-expanded="true"] {
            transform: rotate(90deg)
        }
    }
    #content-settings {
        display: block;
    }
    .block {
        display: block;
    }
    .screen-reader-text {
        border-width: 0;
        clip: rect(0, 0, 0, 0) !important;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    #print {
        background-color: #2271b1;
        border-color: #2271b1;
        color: #fff;
        &:hover,
        &:focus {
            background-color: #135e96;
            border-color: #135e96;
        }
    }
}
@media print {
    #pagedjs-settings {
        display: none;
    }
    #pagedjs-source {
        display: none;
    }
}
